HOST=localhost:3000
PORT=3000

NODE_ENV=development

DB_NAME=auth
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=1301
DB_HOST=postgres

REDIS_HOST=redis

ACCESS_SECRET=VDMTWnxYn99z26qLwo84FMhzDMpVIEa7
ACCESS_EXPIRED_TIME=180d

REFRESH_SECRET=VDMTWnxYn99z26qLwo84FMhzDMpVIEa7
REFRESH_EXPIRED_TIME=180d

SUPER_ADMIN_USERNAME=super-admin
SUPER_ADMIN_PASSWORD=root
BASICAUTH_USERNAME=shid
BASICAUTH_PASSWORD=12345678
